.header {
    padding: 2rem;

    @include breakpoint-up(medium) {
        padding: 4.75rem 3rem;
    }

    @include breakpoint-up(large) {
        padding: 4.75rem 6rem;
    }
}

.header__logo {
    height: 1.25rem;

    @include breakpoint-up(medium) {
        height: 2rem;
    }
}