.hero {
    height: 31vh;
    width: 100%;
    background-image: url('/images/hero-mobile.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    @include breakpoint-up(medium) {
        height: 100%;
        background-image: url('/images/hero-desktop.jpg');
    }
}