// colors
$main-text: #CE9898;
$accent-text: #423A3A;
$error: #F96464;

$background-gradient: linear-gradient(135deg, #FFFFFF, #FFF4F4);
$button-gradient: linear-gradient(135deg, #F8BFBF, #EE8B8B);

// font-weights
$light: 300;
$normal: 400;
$bold: 600;

// font family
$main-font: 'Josefin Sans', sans-serif;