// colors
$main-text: #CE9898;
$accent-text: #423A3A;
$error: #F96464;

$background-gradient: linear-gradient(135deg, #FFFFFF, #FFF4F4);
$button-gradient: linear-gradient(135deg, #F8BFBF, #EE8B8B);

$form-border: rgba(206,152,152,0.5);
$form-placeholder: rgba(216, 180, 180, 0.5);
$form-input: #423A3A;
$form-focus: #f0d0d0;

$button-focus: 0 0 0px 1px #FFF4F4, 0 0 5px 5px #F8BFBF;

// font-weights
$light: 300;
$normal: 400;
$bold: 600;

// font family
$main-font: 'Josefin Sans', sans-serif;